.frame {
	display: block;
	margin: 0;
	width: 100%;
	border: none;
}

.linkspace {
	margin: 0 20px;
}

.button {
	color: #FFFFFF;
	background: #000000;
	font-size: 0.9em;
	padding: 2px 16px;
	text-align: center;
	line-height: 32px;
	max-width: 200px;
	border: none;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
}

input[type="submit"] {
	cursor: pointer;
}

.button:hover {
	background-color: #DDD;
}

.photo {
	display: inline-block;
	padding: 1%;
	width: 40%;
        height: 400px;
        margin: 5px;
	min-width: 300px;
	max-width: 400px;
	cursor: pointer;
    position: relative;        
}

.contained_img {
	vertical-align: top;
	width: 100%;
	height: 100%;
	border-radius: 4px;
        object-fit: cover;
}

.option_dots {
    position: absolute;
    top: 5px;
    right: 5px;
    margin-top: 10px;
    margin-right: 5px;
}

.links {
	font-size: 0.9em;
	margin-top: 20px;
}

.copyright {
	font-size: 0.8em;
	color: #999999;
	margin-top: 1.5em;
}

.icon {
	margin: 0 15px;
	width: 26px;
	height: 26px;
}

#content {
	margin: 0 auto;
}

#header {
	position: fixed;
	width: 100%;
	top: 0px;
	height: 50px;
	z-index: 99;
	box-shadow: 0px 10px 20px 0px rgba(200,200,200, 0.2);
}
#nav {
	position: absolute;
	line-height: 48px;
	right: 2%;
	font-size: 0.8em;
}

#menu {
	display: none;
	position: absolute;
	top: 15px;
	right: 5%;
}

#logo {
	position: absolute;
	top: 10px;
	left: 20%;
}

#photodiv {
	text-align: center;
	margin: 0 auto;
	padding: 30px 5%;
}

#badge_img {
	width: 120px;
	height: 120px;
}

#footer {
	text-align: center;
	padding-bottom: 5px;
	overflow: hidden;
	height: 200px;
}

#footer .links {
	position: relative;
	left: 0;
	margin: 1.5em auto;
	width: 100%
}

#menuDIV {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	display: none;
	margin: 0 auto;
	z-index: 99;
}

#menuDIV .frame {
	background-color: #FF895B;
	height: 350px;
	box-shadow: 0px 10px 20px 0px rgba(200,200,200, 0.5);
}

#loginDIV {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	display: none;
	margin: 0 auto;
	background-color: rgba(0,0,0, 0.7);
	z-index: 99;
}

#login_frame_container {
	width: 100%;
	height: 100%;	
	position: relative;
	margin: 0 auto;
}

#login_frame_container .frame {
	background-color: #FFF;
	height: 90%;
	width: 33%;
	position: absolute;
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
}

#close {
	position: absolute;
	top: 15px;
	right: 10%;
}

#login_close {
	position: absolute;
	width: 30px;
	height: 30px;
	padding: 5px;
	top: 5px;
	right: 5px;
        opacity: 0.1;
}

#login_close:hover {
        opacity: 1;
}

#container {
	width: 85%;
	margin: 120px auto 40px auto;
	max-width: 768px;
	text-align: center;
}

#login_title {
	height: 80px;
	width: 100%;
	box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
	margin-bottom: 20px;
}

#login_title p {
	margin: 0;
	padding: 30px;
	font-size: 30px;
	font-weight: bold;
}

#main {
	margin: 50px auto 30px auto;
	padding: 1% 10%;
	max-width: 768px;
	min-height: 500px;
}

#login_container {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

#login_content {
	margin: 0 auto;
	max-width: 600px;
}

.fb {
	margin: 10px auto 10px auto;
	background-color: #3B5998;
	border-color: #3B5998;
	line-height: 40px;
	padding: 5px 16px;
}

.tw {
	margin: 10px auto 10px auto;
	background-color: #1da1f2;
	border-color: #1da1f2;
	line-height: 40px;
	padding: 5px 16px;
}

.login_form_row {
	margin-bottom: 10px;
}

form input.text {
	width: 200px;
	padding: 10px 16px;
	border: 0px;
	height: 30px;
	background-color: #f2f2f2;
}

#login {
	background-color: #4285f4;
}

#login:hover {
	background-color: #DDD;
}


#loginbutton {
	margin: 5px auto;
	width: 200px;
	line-height: 40px;
	padding: 5px 16px;
}

#err_msg {
	color: #ff3e83;
	font-size: 15px;
}

#server_err_msg {
	color: #ff3e83;
	font-size: 15px;
}

#or {
	margin: 10px auto;
}

#keyfeatures {
    display: inline-block;
    text-align: center;
    padding: 10px 0 20px 0;
    background: #18DFE6;
}

.threecol {
    margin-left: 2.5%;
    margin-bottom: 1%; 
    width: 30%;
    float: left;
}

#keyfeatures h1 {
    color: #FFFFFF;
    margin-bottom: 1em;
}

#keyfeatures p {
    margin: 15px 0;
}

#keyfeatures .title {
    color: #0A868A;
}

#keyfeatures .desc {
    padding: 0 5%;
}

#profile_nav_wrapper {
    margin-top: 100px;
    height: 50px;
}

#tabs_wrapper {
    position: relative;
}

#profile_nav {
    border-top: 1px solid #eeeff2;
    border-bottom: 1px solid #eeeff2;
    background-color: #fff;
    list-style-type: none;
    text-align: center;
    white-space: nowrap;
    overflow-x : auto;
}

#profile_nav li {
    display: inline;
    margin: 0 10px;
    white-space: nowrap;
    cursor: pointer;
}

#contact_modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFF;
}

#modal_container {
    position: relative;
    background: #FFF;
    min-width: 300px;
    top: 70px;
    width: 50%;
    height: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

#modal_content {
    margin: 0 auto;
    max-width: 600px;
}

#contact_form input.modal_text {
    width: 200px;
    height: 30px;
    padding: 10px 20px;
    border: 0px;
    background-color: #f2f2f2;
}

#contact_form textarea {
    padding: 10px 20px;
    margin: 2px;
    border: 0px;
    background-color: #f2f2f2;
}

.contact_modal_row {
    margin-bottom: 10px;
}

#modal_close {
    position: absolute;
    width: 30px;
    height: 30px;
    padding: 5px;
    top: 5px;
    right: 5px;
    opacity: 0.1;
}

#modal_close:hover {
    opacity: 1;
}

#photoMenuHtml {
    display: none;
}

#photoMenuDiv {
    width: 200px;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 99
}

photo_menu_container {
    height: 50px;
    box-shadow: 0px 5px 20px 0px rgba(128, 128, 128, 0.5)
}

#o_container {
    width: 200px;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 20px 0px rgba(128, 128, 128, 0.5)
}

@media (max-width: 580px) {
    .threecol {
        float: none;
        margin: 0px auto 10px auto;
        width: 90%;
        height: 100%;
    }
}
@media (max-width: 768px) {
	#nav {
		display: none;
	}

	#menu {
		display: block;
	}

	.photo {
		padding: 2% 0;
		width: 100%;
		max-width: 400px;
	}

	#footer {
		height: 150px;
	}

	#login_frame_container .frame {
		width: 95%;
		height: 95%;
	}
	#login_title p {
		font-size: 20px;
	}
    #modal_container {
        width:95%;
        height: 95%;
    }
}

@media (max-width: 640px) {
	#login_content {
		max-width: 300px;
	}	
    #modal_content {
        max-width: 300px;
    }
}

@media (max-width: 960px) {
	.linkspace {
		margin: 12px;
	}
        .threecol {
            width: 46.5%;
            height: 9em;
        }
}

@media (max-width: 1024px) {
	#main {
		font-size: 1.0em;
	}
}

@media (min-width: 1136px) {
    .threecol {
        height: 10em;
    }
}

@media (min-width: 1500px) {
    .threecol {
        height: 8em;
    }
}

@media (max-width: 1136px) {
    .threecol {
        height: 8em;
    }
}