#imageDIV  {
	position: fixed; 	
	width: 100%;
	height: 100%;
	top: 0;
	display: none;
	background-color: rgba(0, 0, 0, 0.8);
	color: #FFF;
}

#img_container {
	position: relative; 
	background: #FFF;
	min-width: 300px;
	top: 70px;
	width: 90%;
	height: 85%;
	margin: auto;
}
#img_close_wrap {
	position: absolute;
	margin: 0;
	padding: 0;
	top: 2px;
	right: 2px;
	cursor: pointer;
	z-index: 2;
}
#img_full {
	display: inline;
	width: 75%;
	height: 100%; 
	border-right: 1px solid black;
	float: left;
	background-color: #000;
	position: relative;
}

#img_full img {
	width: 100%;
	max-height: 100%;
	display: block;
	height: auto;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

#info {
	display: inline;
	width: 20%;
	height: 100%;
	float: right;
	position: relative;
}

#info #prettybtn {
    margin: 20px auto;
    width: 60%;	
    background-color: #FF895B;
    color: #000000;
    position: absolute;
    bottom: 5%;
    margin: auto;
}

#info #prettybtn:hover {
	background-color: #000;
	color: #FFF;
}

@media (max-width: 768px) {
	#img_full {
		display: inline-block;
		width: 100%;
		height: 80%;
		margin: 0;
		padding: 0;
	}	
	#img_full img {
		height: 500px;
	}
	#info {
		display: inline-block;
		width: 100%;
		height: 20%;
		margin: 0;
		padding: 0;
	}
	#info #prettybtn {
		position: absolute;
		width: 30px;
		bottom: 2px;
		right: 2px;
	}
	#img_close {
		background-color: #F1D42D
	}
}