#join {
	margin: -10px auto 0 auto;
	padding: 8px 16px;
	background-color: #DDD;
}

#signup_top {
  text-align: center;
  margin-top: 50px;
  padding-top: 20px;
}

#instructions {
  margin: 0 auto;
  width: 90%;
  color: #000000;
}

#form_container {
  width: 100%;
  margin: 0 auto;
  max-width: 450px;
}

#error-label, #server-error-label {
  color: #e33e83;
  font-size: 14px;
  margin-bottom: 10px;
  height: 24px;
  text-align: center;
}

#server-error-label {
  height: 100px;
}

#submit {
  clear: both;
  text-align: center;
}

#submitbutton {
  margin: 20px auto;
  width: 200px;
  border-width: 0px;
}

form .field {
  margin-bottom: 10px;
}

#signupform div {
	text-align: center;
}
.left {
  float: left;
}

.right {
  float: right;
}

form .dropdown {
  background: #f2f2f2;
  border-radius: 0px;
  padding: 2px 2px 4px 0px;
  height: 32px;
  width: 218px;
}

form .dropdown select {
  width: 215px;
  overflow: hidden;
  background: #f2f2f2;
  border: 0;
  font-size: 16px;
  color: #000;
}

form input.text {
  background: #f2f2f2;
  padding: 4px 10px;
  width: 200px;
  font-size: 16px;
  height: 30px;
  color: #000;
}

@media (max-width: 640px) {
	#form_container {
		max-width: 224px;
	}

	.right {
    	float: left;
  	}

  	form .dropdown {
    	padding: 6px 4px 2px 0px;
    	height: 30px;
    	width: 216px;
  }

  form input.text {
    height: 24px;
  }


}