	<div id="img_container">                                                  
		<div id="img_close_wrap"><img id="img_close" src=""></div>            
                <div id="nav_left_arrow_wrap"><img id="nav_left_arrow" src=""></div>
                <div id="nav_right_arrow_wrap"><img id="nav_right_arrow" src=""></div>            
		<div id="img_full"><img id="img1" src=""></div>            
                <div><input type="hidden" id="img_modal_idx" name="img_modal_idx" value=""></div>
		<div id="info">
<!--			<a href=""><div id="prettybtn" class="button">Buy</div></a> -->
		</div>
	</div>
