<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>sellsnapshots</title>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/text.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

	<style>
		#container {
			margin: 0 auto;
			margin-top: 70px;
			text-align: center;
		}

		#container p {
			border-bottom: 1px solid #000000;
			height: 40px;
		}

		.button {
			margin: -10px auto 20px auto;
			width: 120px;
		}
	</style>
	<script>
	var nav = [
		{id:"home", nav:"home", link:"{{ url_for('index') }}"},
		{id:"about", nav:"about", link:"{{ url_for('about') }}"},
		{id:"photo", nav:"photos", link:"{{ url_for('photos') }}"},
		{id:"join", nav:"Sign up", link:"{{ url_for('register') }}"},
		{id:"login", nav:"Log in", link:"javascript:parent.showObj('loginDIV')"}
	]



	var img = [
		{id:"home_img", src:"https://s3.ap-south-1.amazonaws.com/sellsnapshots/assets/sellsnapshots.png"},
		{id:"menu_img", src:"https://s3.ap-south-1.amazonaws.com/sellsnapshots/assets/x.png"}
	]

	function init() {
		var home = document.getElementById("home");
		home.href = nav[0]["link"];

		var home_img = document.getElementById("home_img");
		home_img.src = img[0]["src"];

		var close_img = document.getElementById("close_img");
		close_img.src = img[1]["src"];
	}
	</script>
</head>
<body onLoad="init()">
<div id="content">
	<div id="container">
		{% if current_user.is_authenticated %}
		<script>
	var nav_auth = [
		{id:"profile", nav:"profile", link:"{{ url_for('user',name=current_user.firstname+current_user.lastname) }}"},
		{id:"photo", nav:"photos", link:"{{ url_for('photos') }}"},
		{id:"logout", nav:"Log out", link:"{{ url_for('logout') }}"}	
	]
		for (i=0; i<nav_auth.length; i++) {
			document.write("<p><a id=" + nav_auth[i]["id"] + " href='" + nav_auth[i]["link"] + "' target='_parent'>" + nav_auth[i]["nav"] + 
				"</a></p>");				
		}
		</script>
		{% else %}
		<script>
		for (i=1; i<nav.length-2; i++) {
			document.write("<p><a id=" + nav[i]["id"] + " href='" + nav[i]["link"] + "' target='_parent'>" + nav[i]["nav"] + 
				"</a></p>");				
		}
		document.write("<a id=" + nav[nav.length-2]["id"] + " href=" + nav[nav.length-2]["link"] + 
			" target='_parent'><div class='button'>" + nav[nav.length-2]["nav"] + "</div></a>");
		document.write("<a id=" + nav[nav.length-1]["id"] + " href=" + nav[nav.length-1]["link"] + 
			" target='_parent'><div class='button'>" + nav[nav.length-1]["nav"] + "</div></a>");
		</script>
		{% endif %}		
	</div>
	<div id="logo"><a id="home" href="" target="_parent"><img id="home_img" src=""></a></div>
	<div id="close"><a href="javascript:parent.hideObj('menuDIV')"><img id="close_img" src=""></a></div>
</div>
</body>
</html>
