<!doctype html>
<html lang="en-US">
<head>
	<meta name="viewport" content="width=device-width">
	<meta name="Author" content="Sell Snap Shots">
	<meta name="Keywords" content="">
	<meta name="Description" content="A platform for professional photographers. Create your portfolio page, offer photography services and get contacted by people looking for photography services.">

	<title>sellsnapshots :: register</title>

	<link rel="icon" type="image/png" href="https://s3.ap-south-1.amazonaws.com/sellsnapshots/assets/favicon.png">
	<!-- icon from iconfinder.com by Xinh Studio -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/text.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
	
	<style>
              #footer {
                     margin-top: 100px;
              }
	</style>
	<script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>
	<script>
		var nav = [
			{id:"home", nav:"home", link:"{{ url_for('index') }}"},
			{id:"about", nav:"about", link:"{{ url_for('about') }}"},
			{id:"photo", nav:"photos", link:"{{ url_for('photos') }}"},
			{id:"join", nav:"Sign up", link:"{{ url_for('register') }}"}
		];

		var img = [
			{id:"home_img", src:"https://s3.ap-south-1.amazonaws.com/sellsnapshots/assets/sellsnapshots.png"},
			{id:"menu_img", src:"https://s3.ap-south-1.amazonaws.com/sellsnapshots/assets/menu.png"}
		]

		function init() {
			var home = document.getElementById("home");
			home.href = nav[0]["link"];

			var home_img = document.getElementById("home_img");
			home_img.src = img[0]["src"];

			var menu_img = document.getElementById("menu_img");
			menu_img.src = img[1]["src"];
		
		}
	</script>

	<script>
		function error(errorstring) {
			errorElement = document.getElementById("error-label");
			errorServer = document.getElementById("server-error-label")
			errorElement.innerHTML = errorstring;
			if (errorServer !== null) errorServer.style.display = 'none'
		}	

		function validateForm() {
			var form = document.forms["signupform"];
			var firstname = form["firstname"].value;
			if(firstname == null || firstname == "") {
				error("Please enter your first name");
				return false;
			}
			var lastname = form["lastname"].value;
			if (lastname == null || lastname == "") {
				error("Please enter your last name");
				return false;
			}
			var city = form["city"].value;
			if (city == null || city == "") {
				error("Please enter your city");
				return false;
			}
			var country = form["country"].value;
			if (country == null || country == "") {
				error("Please enter your country of residence");
				return false;
			}
			var email = form["email"].value;
			if (email == null || email == "") {
				error("Please enter your email");
				return false;
			}
			var emailPattern = /^(([^<>()[\])\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
			if (!emailPattern.test(email)) {
				error("Please enter a valid e-mail address");
				return false;
			}
			var password = form["password"].value;
			if (password == null || password == "") {
				error("Please enter your password");
				return false;
			}
			var verify = form["verify"].value;
			if (verify == null || verify == "") {
				error("Please veirfy your password");
				return false;
			}
			if (password !== verify) {
				error("password and verify password don't match");
				return false;
			}
		}

		window.addEventListener("scroll", function() {
      		if (document.getElementById("menuDIV").style.display == "block") hideMenu();
    	}, false);

	</script>


	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-89573302-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>


</head>
<body onLoad="init()">
<!--begin content -->
<div id="content">


<!-- begin header -->
	<div id="header">
		<div id="nav">
			<script>
			for (i=1; i<nav.length-1; i++) {
				document.write("<a id=" + nav[i]["id"] + " href='" + nav[i]["link"] + "' target='_parent'>" + nav[i]["nav"] + 
					"</a><span class='linkspace'></span>");				
			}
			document.write("<span id='" + nav[nav.length-1]["id"] + "' class='button'>" + nav[nav.length-1]["nav"] + "</span>");
			</script>
		</div>

		<div id="logo"><a id="home" href="" target="_parent"><img id="home_img" src="" alt="logo"></a></div>
		<div id="menu"><a href="javascript:parent.showObj('menuDIV')"><img id="menu_img" src="" alt="menu"></a></div>		
	</div>
<!-- end header -->

<!-- begin form -->
	<div id="signup_top">
		<p id="instructions">Please Enter the below details to Signup</p>
	</div>
	<div id="form_container">
		{% for message in get_flashed_messages() %}
		<div id="server-error-label">{{ message }}</div>
		{% endfor %}
		
		<div id="error-label"></div>
		<div class="form">
			<form id="signupform" action="/register" method="post" onsubmit="return validateForm()">
				<div>
					<div class="field left">
						<input id="firstname" class="text" type="text" name="firstName" maxlength="25" placeholder="first name" tabindex="1">
					</div>
					<div class="field right">
						<input id="lastname" class="text" type="text" name="lastName" maxlength="25"  placeholder="last name" tabindex="2">
					</div>
				</div>
				<div>
					<div class="field left">
						<input id="city" class="text" type="text" name="city" maxlength="25" placeholder="city" tabindex="3">
					</div>
					<div class="field right dropdown">
						<select id="country" name="country" tabindex="4">
              <option disabled value="" selected>country</option>
              <option value="AF">Afghanistan (افغانستان‬‎)</option>
              <option value="AX">Åland Islands</option>
              <option value="AL">Albania (Shqipëria)</option>
              <option value="DZ">Algeria (الجزائر‬‎)</option>
              <option value="AS">American Samoa</option>
              <option value="AD">Andorra</option>
              <option value="AO">Angola</option>
              <option value="AI">Anguilla</option>
              <option value="AQ">Antarctica</option>
              <option value="AG">Antigua and Barbuda</option>
              <option value="AR">Argentina</option>
              <option value="AM">Armenia (Հայաստան)</option>
              <option value="AW">Aruba</option>
              <option value="AU">Australia</option>
              <option value="AT">Austria (Österreich)</option>
              <option value="AZ">Azerbaijan (Azərbaycan)</option>
              <option value="BS">Bahamas</option>
              <option value="BH">Bahrain (البحرين)</option>
              <option value="BD">Bangladesh (বাংলাদেশ)</option>
              <option value="BB">Barbados</option>
              <option value="BY">Belarus (Беларусь)</option>
              <option value="BE">Belgium (België)</option>
              <option value="BZ">Belize</option>
              <option value="BJ">Bénin</option>
              <option value="BM">Bermuda</option>
              <option value="BT">Bhutan (འབྲུག)</option>
              <option value="BO">Bolivia</option>
              <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
              <option value="BA">Bosnia and Herzegovina (Босна и Херцеговина)</option>
              <option value="BW">Botswana</option>
              <option value="BV">Bouvet Island</option>
              <option value="BR">Brazil (Brasil)</option>
              <option value="IO">British Indian Ocean Territory</option>
              <option value="VG">British Virgin Islands</option>
              <option value="BN">Brunei Darussalam (بروني)</option>
              <option value="BG">Bulgaria (България)</option>
              <option value="BF">Burkina Faso</option>
              <option value="BI">Burundi (Uburundi)</option>
              <option value="KH">Cambodia (កម្ពុជា)</option>
              <option value="CM">Cameroon (Cameroun)</option>
              <option value="CA">Canada</option>
              <option value="CV">Cape Verde (Kabu Verdi)</option>
              <option value="KY">Cayman Islands</option>
              <option value="CF">Central Afican Republic (République centrafricaine)</option>
              <option value="TD">Chad (Tchad)</option>
              <option value="CL">Chile</option>
              <option value="CN">China (中國)</option>
              <option value="CX">Christmas Island</option>
              <option value="CC">Cocos (Keeling) Islands</option>
              <option value="CO">Colombia</option>
              <option value="KM">Comoros (جزر القمر‬‎)</option>
              <option value="CG">Congo, République</option>
              <option value="CD">Congo (Jamhuri ya Kidemokrasia ya Kongo)</option>
              <option value="CK">Cook Islands</option>
              <option value="CR">Costa Rica</option>
              <option value="CI">Côte d’Ivoire</option>
              <option value="HR">Croatia (Hrvatska)</option>
              <option value="CU">Cuba</option>
              <option value="CW">Curaçao</option>
              <option value="CY">Cyprus (Κύπρος)</option>
              <option value="CZ">Czech Republic (Česká republika)</option>
              <option value="DK">Denmark (Danmark)</option>
              <option value="DJ">Djibouti (جيبوتي)</option>
              <option value="DM">Dominica</option>
              <option value="DO">Dominican Republic (República Dominicana)</option>
              <option value="EC">Ecuador</option>
              <option value="EG">Egypt (مصر)</option>
              <option value="SV">El Salvador</option>
              <option value="GQ">Guinea Ecuatorial</option>
              <option value="ER">Eritrea (ኤርትራ)</option>
              <option value="EE">Eesti</option>
              <option value="ET">Ethiopia (ኢትዮጵያ)</option>
              <option value="FK">Falkland Islands (Malvinas)</option>
              <option value="FO">Faroe Islands</option>
              <option value="FJ">Fiji</option>
              <option value="FI">Finland (Suomi)</option>
              <option value="FR">France</option>
              <option value="GF">French Guiana</option>
              <option value="PF">French Polynesia (Polynésie française)</option>
              <option value="TF">French Southern Territories</option>
              <option value="GA">Gabon (République gabonaise)</option>
              <option value="GM">Gambia</option>
              <option value="GE">Georgia (საქართველო)</option>
              <option value="DE">Germany (Deutschland)</option>
              <option value="GH">Ghana</option>
              <option value="GI">Gibraltar</option>
              <option value="GR">Greece (Ελλάς)</option>
              <option value="GL">Greenland</option>
              <option value="GD">Grenada</option>
              <option value="GP">Guadeloupe</option>
              <option value="GU">Guam (Guåhån)</option>
              <option value="GT">Guatemala</option>
              <option value="GG">Guernsey</option>
              <option value="GN">Guinea (Guinée)</option>
              <option value="GW">Guinea-Bissau (Guiné-Bissau)</option>
              <option value="GY">Guyana</option>
              <option value="HT">Haïti</option>
              <option value="HM">Heard Island and McDonald Islands</option>
              <option value="VA">Holy See (Vatican City State)</option>
              <option value="HN">Honduras</option>
              <option value="HK">Hong Kong (香港)</option>
              <option value="HU">Hungary (Magyarország)</option>
              <option value="IS">Iceland (Ísland)</option>
              <option value="IN">India</option>
              <option value="ID">Indonesia</option>
              <option value="IR">Iran (ایران)</option>
              <option value="IQ">Iraq (العراق)</option>
              <option value="IE">Ireland (Éire)</option>
              <option value="IM">Isle of Man</option>
              <option value="IL">Isreal (ישראל)</option>
              <option value="IT">Italy (Italia)</option>
              <option value="JM">Jamaica</option>
              <option value="JP">Japan (日本)</option>
              <option value="JE">Jersey</option>
              <option value="JO">Jordan (الأردن)</option>
              <option value="KZ">Kazakhstan (Қазақстан)</option>
              <option value="KE">Kenya</option>
              <option value="KI">Kiribati</option>
              <option value="KP">Korean North (조선)</option>
              <option value="KR">Korean South (한국)</option>
              <option value="KW">Kuwait (الكويت)</option>
              <option value="KG">Kyrgyzstan (Кыргызстан)</option>
              <option value="LA">Laos (ປະເທດ​ລາວ)</option>
              <option value="LV">Latvija</option>
              <option value="LB">Lebanon (لبنان)</option>
              <option value="LS">Lesotho</option>
              <option value="LR">Liberia</option>
              <option value="LY">Libya (ليبيا)</option>
              <option value="LI">Liechtenstein</option>
              <option value="LT">Lietuva</option>
              <option value="LU">Luxembourg</option>
              <option value="MO">Macao</option>
              <option value="MK">Macedonia (Македонија)</option>
              <option value="MG">Madagascar (Madagasikara)</option>
              <option value="MW">Malaŵi</option>
              <option value="MY">Malaysia (مليسيا)</option>
              <option value="MV">Maldives</option>
              <option value="ML">Mali</option>
              <option value="MT">Malta</option>
              <option value="MH">Marshall Islands (Aelōñin Ṃajeḷ)</option>
              <option value="MQ">Martinique</option>
              <option value="MR">Mauritania (موريتانيا)</option>
              <option value="MU">Mauritius (Maurice)</option>
              <option value="YT">Mayotte</option>
              <option value="MX">México</option>
              <option value="FM">Micronesia, Federated States of</option>
              <option value="MD">Moldova, Republic of</option>
              <option value="MC">Monaco</option>
              <option value="MN">Mongolia (Монгол улс)</option>
              <option value="ME">Montenegro (Crna Gora)</option>
              <option value="MS">Montserrat</option>
              <option value="MA">Morocco (المغرب)</option>
              <option value="MZ">Mozambique (Moçambique)</option>
              <option value="MM">Myanmar (မြန်မာ)</option>
              <option value="NA">Namibia</option>
              <option value="NR">Nauru (Naoero)</option>
              <option value="NP">Nepal (नेपाल)</option>
              <option value="NL">Netherlands (Nederland)</option>
              <option value="AN">Netherlands Antilles</option>
              <option value="NC">New Caledonia</option>
              <option value="NZ">New Zealand</option>
              <option value="NI">Nicaragua</option>
              <option value="NE">Niger</option>
              <option value="NG">Nigeria</option>
              <option value="NU">Niue</option>
              <option value="NF">Norfolk Island</option>
              <option value="MP">Northern Mariana Islands</option>
              <option value="NO">Norway (Norge)</option>
              <option value="OM">Oman (عمان)</option>
              <option value="PK">Pakistan (پاکستان)</option>
              <option value="PW">Palau (Belau)</option>
              <option value="PS">فلسطين</option>
              <option value="PA">Panamá</option>
              <option value="PG">Papua New Guinea (Papua Niugini)</option>
              <option value="PY">Paraguay (Paraguái)</option>
              <option value="PE">Perú</option>
              <option value="PH">Philippines (Pilipinas)</option>
              <option value="PN">Pitcairn</option>
              <option value="PL">Poland (Polska)</option>
              <option value="PT">Portugal</option>
              <option value="PR">Puerto Rico</option>
              <option value="QA">Qatar (قطر)</option>
              <option value="RE">Réunion</option>
              <option value="RO">România</option>
              <option value="RU">Russia (Россия)</option>
              <option value="RW">Rwanda</option>
              <option value="BL">Saint Barthélemy</option>
              <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
              <option value="KN">Saint Kitts and Nevis</option>
              <option value="LC">Saint Lucia</option>
              <option value="MF">Saint Martin (French part)</option>
              <option value="PM">Saint Pierre and Miquelon</option>
              <option value="VC">Saint Vincent and the Grenadines</option>
              <option value="WS">Sāmoa</option>
              <option value="SM">San Marino</option>
              <option value="ST">São Tomé e Príncipe</option>
              <option value="SA">Saudi Arabia (السعودية)</option>
              <option value="SN">Sénégal</option>
              <option value="RS">Serbia (Србија)</option>
              <option value="SC">Seychelles (Sesel)</option>
              <option value="SL">Sierra Leone</option>
              <option value="SG">Singapore</option>
              <option value="SX">Sint Maarten (Dutch part)</option>
              <option value="SK">Slovensko</option>
              <option value="SI">Slovenija</option>
              <option value="SB">Solomon Islands</option>
              <option value="SO">Somalia (Soomaaliya)</option>
              <option value="ZA">South Africa (Suid-Afrika)</option>
              <option value="GS">South Georgia and the South Sandwich Islands</option>
              <option value="SS">South Sudan</option>
              <option value="ES">Spain (España)</option>
              <option value="LK">Sri Lanka (ශ්‍රී ලංකාව)</option>
              <option value="SD">Sudan</option>
              <option value="SR">Suriname</option>
              <option value="SJ">Svalbard and Jan Mayen</option>
              <option value="SZ">Swaziland (weSwatini)</option>
              <option value="SE">Sweden (Sverige)</option>
              <option value="CH">Switzerland</option>
              <option value="SY">Syria (سورية)</option>
              <option value="TW">Taiwan (臺灣)</option>
              <option value="TJ">Tajikistan (Тоҷикистон)</option>
              <option value="TZ">Tanzania, United Republic of</option>
              <option value="TH">Thailand (ประเทศไทย)</option>
              <option value="TL">Timor-Leste</option>
              <option value="TG">Togo</option>
              <option value="TK">Tokelau</option>
              <option value="TO">Tonga</option>
              <option value="TT">Trinidad and Tobago</option>
              <option value="TN">Tunisia (تونس)</option>
              <option value="TR">Turkey (Türkiye)</option>
              <option value="TM">Türkmenistan</option>
              <option value="TC">Turks and Caicos Islands</option>
              <option value="TV">Tuvalu</option>
              <option value="UG">Uganda</option>
              <option value="UA">Ukraine (Україна)</option>
              <option value="AE">United Arab Emirates (الإمارات العربية المتحدة)</option>
              <option value="GB">United Kingdom</option>
              <option value="US">United States</option>
              <option value="UY">Uruguay</option>
              <option value="UM">U.S. Outlying Islands</option>
              <option value="VI">U.S. Virgin Islands</option>
              <option value="UZ">Uzbekistan (Oʻzbekiston)</option>
              <option value="VU">Vanuatu</option>
              <option value="VE">Venezuela, Bolivarian Republic of</option>
              <option value="VN">Việt Nam</option>
              <option value="WF">Wallis and Futuna</option>
              <option value="EH">Western Sahara (الصحراء الغربية)</option>
              <option value="YE">Yemen (اليمن)</option>
              <option value="ZM">Zambia</option>
              <option value="ZW">Zimbabwe</option>
						</select>
					</div>									
				</div>
				<div>
					<div class="field left">
						<input id="email" class="text" type="email" name="email" maxlength="128"  placeholder="email" tabindex="5">
					</div>
					<div class="field right">
						<input id="password" class="text" type="password" name="password" maxlength="128"  placeholder="password" tabindex="6">
					</div>					
				</div>
				<div>
					<div class="field left">
						<input id="verify" class="text" type="password" name="verify" maxlength="128"  placeholder="verify password" tabindex="7">
					</div>
				</div>
				<div id="submit">
					<input id="submitbutton" class="button" type="submit" value="sign up" tabindex="8">
				</div>
			</form>
		</div>
	</div>
<!-- end form -->


<!-- footer -->
	<iframe id="footer" class="frame" scrolling="no" src="{{ url_for('footer') }}"></iframe>
</div>
<!--end content -->

<!-- Menu overlay -->
<div id="menuDIV"><iframe class="frame" src="{{ url_for('menu') }}"></iframe></div>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-89573302-1', 'auto');
  ga('send', 'pageview');

</script>


</body>
</html>
